<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="utility.Datadriven"/>
     <class name="com.labsshop.test.LabsshopRegisterTest"/>
      <class name="com.labsshop.test.LabsshopLoginTest"/>
        <class name="com.labsshop.test.LabsshopHomeTest"/>
          <class name="com.labsshop.test.LabsshopProductTest"/>
            <class name="com.labsshop.test.LabsshopCartTest"/>
              <class name="com.labsshop.test.LabsshopCheckoutTest"/>
    
    
     
 
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
